.cards{
	border-radius: 22px;
	transition:all 1.5s ease;
}
.cards:hover{
	transform: scale(1.1);
}
.card-font{
	color: white;
	-webkit-text-fill-color: black;
	-webkit-text-stroke-width: 1px;
}
ul li{
	list-style: none;
}
.li-button{
	border-radius: 20px;
}
.bi-arrow-right-circle-fill{
color: rgb(190, 207, 229);
}
.happy-client img{
	width: 100px;
}
.client{
	opacity: 0;
}
.happy-client:hover .client{
	opacity: 1;
	transition:.5s;
}



