.banner img{
	width: 1440px;
	height: 540px;
}
.cards{
	border-radius: 22px;
	transition:all 1.5s ease;
}
.cards:hover{
	transform: scale(1.2);
}
.hot-card{

	background-image: url(/images/images/Bridal\ Brunch\ Shower\ Invitation\ with\ Succulents\ and\ Eucalyptus\ \(2\).jfif); 
	background-repeat: no-repeat;
	background-size: 310px;
}
.card-font{
	color: white;
	-webkit-text-fill-color: black;
	-webkit-text-stroke-width: 1px;
}
ul li{
	list-style: none;
}
.li-button{
	border-radius: 20px;
	background-color: black;
}
.bi-arrow-right-circle-fill{
color: rgb(190, 207, 229);
}
footer img{
	width: 145px;
}
.happy-client img{
	width: 100px;
}
.client{
	opacity: 0;
}
.happy-client:hover .client{
	opacity: 1;
	transition:1.5s;
}
.footer-contact{
	padding: 0px;
	margin: 0px;
}


@media only screen and (max-width: 600px) {
	.banner img{
		width: 360px;
		height: 300px;;
	}
	.hot-card{
		background-size:560px;
	}
}

